<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="Server" />
    <module name="Project2_1" />
    <option name="PROGRAM_PARAMETERS" value="1025" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>